body {
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Set the height to the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Apply blur effect */
.blur {
    backdrop-filter: blur(3.5px); /* Adjust the blur strength as needed */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
    border-radius: 10px; /* Optional: Add border-radius for a rounded look */
    padding: 20px; /* Optional: Add padding to the content */
    width: 100%;
    height: 100%;
}
.login-container {
    width: 100%;
    max-width: 1147px;
    height: 660px;
    border-radius: 15px;
    border: 3px solid #000;
    margin-top: 2.5cm;
    background-color: rgba(255, 192, 217, 0.3);
    position: relative; /* Added position property */
}

.imgclass {
    padding-right: 0; /* Reset padding */
}

.img-fluid {
    width: 418.16px;
    height: 654px;
    top: 226px;
    left: 252px;
    border: 1px solid #000;
    margin-left: 2cm;
}

.line {
    width: 344px;
    top: 338.5px;
    left: 780px;
    border: 7px solid #000;
    background-color: #fff;
    border-radius: 20px;
}

h2 {
    margin-top: 1cm; /* Reset margin */
}

.login-cont {
    position: relative;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn{
    margin-top: 5cm;
}
.rounded-button {
    display: inline-block;
    width: 428px;
    height: 77px;
    top: 755px;
    left: 775px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    background-color: rgba(215, 93, 141, 1);
    margin-top: 200px;
    font-family: 'Crimson Text', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}

