<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in orders %}
    <div>
        <h2>{{ i.product_ordered_id }}</h2>

        <form method="post" action="{% url 'order_update' ordid=i.product_ordered_id %}">
            {% csrf_token %}
            
            <label for="status">Update Status:</label>
            <select name="status" id="status">
                <option value="Shipped">Shipped</option>
                <option value="Delivered">Delivered</option>
                <option value="Cancelled">Cancelled</option>
            </select>
            
            <button type="submit">Update order status</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>